a {
      text-decoration: none;
      color: blue;
      font-size: 16px;
      padding: 5px 10px;
      display: inline-block;
    }
    
    a:hover {
      font-size: 24px;
      background-color: yellow;
    }