p {
    background-color: yellow;
    width: fit-content;
    font-weight: bold;
    padding: 1rem;
    font-size: 1.2rem;
}

.container {
    position: relative;
}

.relative {
    position: absolute;
    top: 20%;
}


